<div class="user-select-container">
  <select id="user-select">

    {{#each usersData}}
    <option value={{@key}} enabled selected>{{name}}</option>
    {{/each}}
    <option value="" disabled selected>Select a user</option>




  </select>
</div>
