{{> header}}

<main>
  <div class="info-container">

    <div class="homepage-icon"><i class="fa fa-users"></i></div>
    <h2>HeadJournal.</h2>
    <h3>Already a user? Log in here:</h3>

    {{> user-select}}

  </div>
</main>

{{> footer}}
